/* new-collection.css */
.new-collections {
    display: flex;
    flex-direction: column;
 
   }
   
   
   .new-collections h1 {
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: 700;
  }
  
  .new-collections hr {
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #ccc;
  }
  
   .collections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 0.5rem;
    width: 100%;
   }
   
   @media (max-width: 400px) {
    .collections {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5px;
    }
  }
  